{% load staticfiles %}
<html>
<head>
    <title>Rajesh Billa</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<style>
    body{
        background-color:paleturquoise;
    }
    h1{
        font-family: "Arial Black";
        color: red;
    }
    img{
        display: block;
  margin-left: auto;
  margin-right: auto;
        padding-right:50px ;
        border-radius: 10px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center ;
        font-size: xx-large;


    }

</style>
<body>
<center>
<h1>Rajesh Kumar Billa</h1>
    <br>
    </center>

     <center>
      <img src="{% static 'images/raj.jpeg' %}" style="width:40%; height:60%"></a>
     </center>


          <p>Site MechanicalEngineer|M/S. KEP Engineering Services Pvt Ltd| July 2017 – Present.</p>
        <p>billarajeshb@gmail.com</p>
        <p>+91-9398702545</p>


</body>
</html>
